body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card {
  background-color: rgb(255, 225, 197);
  border-radius: 10px;
  text-align: center;
  width: 150px;
  margin: 20px;
  padding: 20px;
  box-shadow: 1px 1px 5px 0px;

}

.book-shelf {
  display: flex;
  flex-wrap: wrap;
}

#add {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(186, 242, 255);
  transition: 0.2s;
  box-shadow: 1px 1px 5px 0px;
}

#add:hover {
  background-color: rgb(130, 185, 249);
}

#read {
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: 1px 1px 5px 0px;
}

.read {
  background-color: rgb(186, 255, 186);
}

.read:hover {
  background-color: rgb(130, 249, 140);
}

.not-read {
  background-color: rgb(255, 186, 186);
}

.not-read:hover {
  background-color: rgb(249, 130, 130);
}