body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card {
  background-color: rgb(255, 191, 131);
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

.book-shelf {
  display: flex;
}